<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
	
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="placeholderPrefix" value="${" />
		<property name="locations">
			<list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<jee:jndi-lookup id="tcDataSourceJndi" jndi-name="${tc.dataSource.jndiname}"
        proxy-interface="javax.sql.DataSource" lookup-on-startup="false" lazy-init="true" />
        
</beans>